# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBNZjJC1tc0LtT3y4DouPVkSZbCusW2w2I
VITE_FIREBASE_AUTH_DOMAIN=ingenius-f33a6.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ingenius-f33a6
VITE_FIREBASE_STORAGE_BUCKET=ingenius-f33a6.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=174110254614
VITE_FIREBASE_APP_ID=1:174110254614:web:26446b0790fc9fcf723737
VITE_FIREBASE_MEASUREMENT_ID=G-5LWJ345KWS

# API Configuration
VITE_API_URL=https://ingenus-fx.vercel.app/api
VITE_APP_URL=https://tusitio.com
