# node
node_modules/
**/node_modules/

# build
dist/
build/

# firebase
.firebase/

# env (CLAVES 🔐)
.env
.env.*

# JSON sensibles (service accounts)
*.json

# sistema
.DS_Store

# cache
.cache/
.next/

# logs
npm-debug.log*
.vercel
